body{
    background: black;
    color: #FAF9F6;
    font-family:"Playfair Display", sans-serif;
  }

  
  span{
    color: #FFA500;
  }

  /* nav bar*/

  nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 100px;
  }

  nav p {
    display: inline;
    font-size: 40px;
  }

  svg{
    margin-right: 10px;
  }


  .projects{
    margin-top: -40px;
    margin-left: -100px;
  }

  h1{
    font-size: 30px;
    color: #FFA500;
    margin-left: 35px;
  }

  h2{
    font-size: 30px;
  }


/* end nav bar*/
  
  /* Creating the typewriting at the beginning */
  .typewriter h2{
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid #FAC28A;
    letter-spacing: 0.30em;
    width: 0;
    animation: typing 1s steps(20,end) forwards,
      blink .8s infinite;
  }
  
  .typewriter{
    display: inline-block;
  }
  
  @keyframes typing {
    from {width: 0}
    to {width: 100%}  
  }
  
  @keyframes blink{
    from, to{border-color: transparent}
    50% {border-color: #FAC28A}

  }
/*End typewriter*/

.main{
  display: flex;
  justify-content: space-around;
}


.type-style{
  display: block;
}

ul{
    list-style-type: none;
    line-height: 1.5;
    font-size: 20px;
}

li{
  font-size: 25px;
}

a:visited{
  color: #FAF9F6;
}

svg{
    fill:#FFD580;
}

.icons{
    display: inline;
}

.icon{
  width: 25px;
  height: 25px;
}

/*contact page*/

.contact-section{
  margin-top: -50px;
  text-align: center;
}

.contact-icon{
  width: 2%;
}

.contact-section p{
  margin-bottom: 50px;
  font-size: 20px;
}

.contact-section h1{
  font-size: 45px;
}

.contact-name{
  text-decoration: none;
}
